@import 'tailwindcss';

@plugin "daisyui" {
  themes: dark, light;
  exclude: scrollbar;
}

@plugin "daisyui/theme" {
  name: 'dark';
  color-scheme: 'dark';
  --color-base-100: oklch(14% 0 0);
  --color-base-200: oklch(20% 0 0);
  --color-base-300: oklch(43% 0 0);
  --color-base-content: oklch(100% 0 0);
  --color-primary: oklch(62% 0.214 259.815);
  --color-primary-content: oklch(98% 0 0);
  --color-secondary: oklch(28% 0.091 267.935);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(67.271% 0.167 35.791);
  --color-accent-content: oklch(13.454% 0.033 35.791);
  --color-neutral: oklch(27.441% 0.013 253.041);
  --color-neutral-content: oklch(85.488% 0.002 253.041);
  --color-info: oklch(62.616% 0.143 240.033);
  --color-info-content: oklch(12.523% 0.028 240.033);
  --color-success: oklch(70.226% 0.094 156.596);
  --color-success-content: oklch(14.045% 0.018 156.596);
  --color-warning: oklch(77.482% 0.115 81.519);
  --color-warning-content: oklch(15.496% 0.023 81.519);
  --color-error: oklch(51.61% 0.146 29.674);
  --color-error-content: oklch(90.322% 0.029 29.674);
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: 'light';
  color-scheme: 'light';
  --color-primary: oklch(62% 0.214 259.815);
  --color-primary-content: oklch(98% 0 0);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@import './ui-extend.css';
@import './scrollbar.css';

@utility liquid-glass-border {
  &:after {
    content: '';
    position: absolute;
    inset: 0px;
    overflow: hidden;
    box-shadow:
      inset 1px 1px 1px 0px rgba(255, 255, 255, 0.3),
      inset 1px -1px 1px 1px rgba(255, 255, 255, 0.01),
      0 0 1px rgba(255, 255, 255, 0.7);
    transform: translateZ(0);
    pointer-events: none;
  }
}

@utility liquid-glass-effect {
  &:before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    filter: url(#glass-distortion);
    transform: translateZ(0);
  }
}

@utility liquid-glass {
  transform: translateZ(0);
  @apply liquid-glass-effect;
  @apply liquid-glass-border;
}
