@plugin "daisyui" {
  themes: false;
  exclude: scrollbar;
}

@plugin "daisyui/theme" {
  name: 'dark';
  prefersdark: true;
  color-scheme: dark;
  --color-base-100: oklch(0% 0 0);
  --color-base-200: oklch(22.7% 0.004 286.1);
  --color-base-300: oklch(29.4% 0.004 286.2);
  --color-base-content: oklch(97.1% 0.003 286.4);
  --color-primary: oklch(62.4% 0.206 255.5);
  --color-primary-content: oklch(98% 0 0);
  --color-secondary: oklch(55.6% 0.203 278.1);
  --color-secondary-content: oklch(98% 0 0);
  --color-accent: oklch(65.6% 0.227 312.4);
  --color-accent-content: oklch(98% 0 0);
  --color-neutral: oklch(34.9% 0.003 286.2);
  --color-neutral-content: oklch(97.1% 0.003 286.4);
  --color-info: oklch(81.7% 0.119 227.7);
  --color-info-content: oklch(26% 0.05 228);
  --color-success: oklch(75.6% 0.208 147);
  --color-success-content: oklch(26% 0.06 147);
  --color-warning: oklch(78.2% 0.171 67.2);
  --color-warning-content: oklch(28% 0.06 67);
  --color-error: oklch(66.3% 0.224 28.3);
  --color-error-content: oklch(98% 0 0);
  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  color-scheme: light;
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(97.1% 0.003 286.4);
  --color-base-300: oklch(93.2% 0.007 286.3);
  --color-base-content: oklch(23.2% 0.004 286.1);
  --color-primary: oklch(56% 0.218 257.4);
  --color-primary-content: oklch(98% 0 0);
  --color-secondary: oklch(52.9% 0.191 278.3);
  --color-secondary-content: oklch(98% 0 0);
  --color-accent: oklch(61.5% 0.213 312.4);
  --color-accent-content: oklch(98% 0 0);
  --color-neutral: oklch(34.9% 0.003 286.2);
  --color-neutral-content: oklch(97.1% 0.003 286.4);
  --color-info: oklch(78.9% 0.122 230.8);
  --color-info-content: oklch(26% 0.05 231);
  --color-success: oklch(73% 0.194 147.4);
  --color-success-content: oklch(26% 0.06 147);
  --color-warning: oklch(76.5% 0.175 62.6);
  --color-warning-content: oklch(28% 0.06 63);
  --color-error: oklch(65.4% 0.232 28.7);
  --color-error-content: oklch(98% 0 0);
  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}
